@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-figtree);
}

:root {
  --background: hsl(145.1, 15%, 98.5%);
  --foreground: hsl(145.1, 0.8%, 9.3%);
  --card: hsl(145.1, 7.5%, 98.5%);
  --card-foreground: hsl(145.1, 0.8%, 14.3%);
  --popover: hsl(145.1, 15%, 99.3%);
  --popover-foreground: hsl(145.1, 95.8%, 8.5%);
  --primary: hsl(145.1, 100%, 23.9%);
  --primary-foreground: hsl(0, 0%, 100%);
  --secondary: hsl(145.1, 13%, 87%);
  --secondary-foreground: hsl(0, 0%, 0%);
  --muted: hsl(183.1, 13%, 93.5%);
  --muted-foreground: hsl(145.1, 0.8%, 39.3%);
  --accent: hsl(183.1, 13%, 88.5%);
  --accent-foreground: hsl(145.1, 0.8%, 14.3%);
  --destructive: hsl(0, 57.5%, 47%);
  --destructive-foreground: hsl(145.1, 0.8%, 98.5%);
  --border: hsl(145.1, 21.5%, 77.2%);
  --input: hsl(145.1, 21.5%, 45.2%);
  --ring: hsl(145.1, 88.7%, 45.3%);
  --radius: 0.5rem;
  --sidebar-background: hsl(145, 15%, 94%);
  --sidebar-foreground: hsl(145, 1%, 8%);
  --sidebar-primary: hsl(145, 100%, 22%);
  --sidebar-primary-foreground: hsl(0, 0%, 100%);
  --sidebar-accent: hsl(183, 13%, 84%);
  --sidebar-accent-foreground: hsl(0, 0%, 0%);
  --sidebar-border: hsl(145, 22%, 73%);
  --sidebar-ring: hsl(135, 98%, 45%);
}

.dark {
  --background: hsl(145.1, 16%, 9.3%);
  --foreground: hsl(145.1, 0.8%, 98.5%);
  --card: hsl(145.1, 7.5%, 8.5%);
  --card-foreground: hsl(145.1, 0.8%, 98.5%);
  --popover: hsl(145.1, 16%, 5%);
  --popover-foreground: hsl(145.1, 0.8%, 98.5%);
  --primary: hsl(145.1, 100%, 23.9%);
  --primary-foreground: hsl(0, 0%, 100%);
  --secondary: hsl(145.1, 13%, 18.5%);
  --secondary-foreground: hsl(0, 0%, 100%);
  --muted: hsl(183.1, 13%, 23.5%);
  --muted-foreground: hsl(145.1, 0.8%, 64.3%);
  --accent: hsl(183.1, 13%, 23.5%);
  --accent-foreground: hsl(145.1, 0.8%, 94.3%);
  --destructive: hsl(0, 57.5%, 47%);
  --destructive-foreground: hsl(145.1, 0.8%, 98.5%);
  --border: hsl(145.1, 21.5%, 45.2%);
  --input: hsl(145.1, 21.5%, 45.2%);
  --ring: hsl(145.1, 88.7%, 45.3%);
  --radius: 0.5rem;
  --sidebar-background: hsl(145, 16%, 12%);
  --sidebar-foreground: hsl(145, 1%, 100%);
  --sidebar-primary: hsl(145, 100%, 19%);
  --sidebar-primary-foreground: hsl(0, 0%, 100%);
  --sidebar-accent: hsl(183, 13%, 20%);
  --sidebar-accent-foreground: hsl(0, 0%, 100%);
  --sidebar-border: hsl(145, 22%, 43%);
  --sidebar-ring: hsl(135, 98%, 45%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
